{% paginate blog.articles by 5 %}

  {%- assign blog_title = blog.title -%}

  {% if current_tags %}
    {% capture blog_title %}{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}{% endcapture %}
  {% endif %}

<div class="blog">
  <div class="blog__header">
    <h1 class="blog__heading">{{ blog_title }}</h1>

    {% if blog.all_tags.size > 0 %}
    <h2>{{ 'blogs.general.categories' | t }}</h2>
    <ul>
      {% for tag in blog.all_tags %}

        {% if current_tags contains tag %}
          <li>{{ tag }}</li>
        {% else %}
          <li>{{ tag | link_to_tag: tag }}</li>
        {% endif %}

      {% endfor %}
    </ul>
  {% endif %}
  </div>

  {% comment %}

  Article Previews
  ====================
  {% endcomment %}

  <div class="blog__articles">
    <ul class="blog__list">
      {% for article in blog.articles %}
        <li class="blog__item">
          {% include 'blog-article-preview' %}
        </li>
      {% endfor %}
    </ul>
  </div>
  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
</div>
{% endpaginate %}
