<div class="page-width c-page is-page-width-1600">
  <div class="grid">
      <div class="grid__item">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
        <div class="srs_slider" id="srs_template_2656"></div>
        
        <div class="c-cta--reviews">
          <div class="c-cta__content">
            <div class="c-cta__intro-text">
              <p>{{ page.metafields.global.cta_text }}</p>
            </div>
              <div class="c-cta__action">
                <a href="{{ page.metafields.global.cta_url- }}" class="c-cta__link">{{ page.metafields.global.cta_button_text }}</a>
              </div>
          </div>
        </div>


    </div>
  </div>
</div>
