<div class="grid c-product-single--remodal product-single{% if section.settings.enable_payment_button %} product-single--{{ section.settings.image_size }}-image{% endif %}">
  <div class="grid__item c-product-single__photos {{ product_image_width }}{% if section.settings.image_size == 'full' %} product-single__photos--full{% endif %}">

        <div   class="c-product-single__photo--remodal" >
          <img
               class="feature-row__image {{ img_class }} lazyload{% unless featured_image == image %} lazypreload{% endunless %}"
               src="{{ product.featured_image }}"
               data-src="{{ img_url }}"
               data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
               data-aspectratio="{{ image.aspect_ratio }}"
               data-sizes="auto"
               alt="{{ image.alt | escape }}">
        </div>

  </div>

  <div class="grid__item {{ product_description_width }}">
    <div class="c-product-single__meta">

      <h1 class="c-product-single__heading">{{ product.title }}</h1>

      {% if section.settings.show_vendor %}
        <p class="c-product-single__vendor">{{ product.vendor }}</p>
      {% endif %}

      <div class="grid-view-item__meta c-product-single__price--bundle">
        {% include 'product-price' %}
      </div>

      <div class="grid-view-item__meta c-product-single__add-form">
      {% include 'add-form-bundle'%}
      </div>

      <div class="c-product-single__description rte">
        {{ product.description }}

        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>

      </div>

      {% if section.settings.show_share_buttons %}
        {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
      {% endif %}
    </div>
  </div>
</div>
