<div class="add-form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
  <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
  <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

  <form class="add-form__form shapp_qb_prod" action="/cart/add" method="post" enctype="multipart/form-data">

    <div class="add-form__qty">
      <label class="add-form__label" for="Quantity">{{ 'products.product.quantity' | t }}</label>
      <input class="add-form__qty-input" type="number" id="Quantity" name="quantity" value="1" min="1">
    </div>
    <div class="add-form__price-wrapper">
      <div data-price-wrapper>
        <span class="add-form__price" data-product-price>
          {{ current_variant.price | money }}
        </span>

        {% if bold_compare_at_price_max > bold_price %}
          <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
          <span data-compare-price>
            {% if current_variant.compare_at_price > current_variant.price %}
              {{ current_variant.compare_at_price | money }}
            {% endif %}
          </span>
        {% endif %}
      </div>
    </div>

    <div class="add-form__variants">
      {% include 'bold-variant' with variant, hide_action: 'skip' %}

      {% include 'add-form-variants' %}

      <select id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}"  name="id" class="product-form__variants no-js" data-product-select>
        {% for variant in product.variants %}
          <option
              {% if variant == current_variant %}selected="selected"{% endif %}
              {% unless variant.available %}disabled="disabled"{% endunless %}
              value="{{ variant.id }}">
            {{ variant.title }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="add-form__submit-wrapper">
      <button class="add-form__submit-btn"
          type="submit"
          name="add"
          data-add-to-cart
          {% unless current_variant.available %}disabled="disabled"{% endunless %}>
          <span data-add-to-cart-text>
            {% if current_variant.available %}
              {{ 'products.product.add_to_cart' | t }}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </span>
      </button>
    </div>

    {% unless qb_loaded == 'true' %}
    <div class="shappify-qty-msg">{{bold_selected_or_first_available_variant.metafields.shappify_qb.pricing_html}}</div>{% assign qb_loaded = 'true' %}
    {% endunless %}

  </form>

</div>