<div class="c-add-form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
  <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
  <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

  <form class="c-add-form__form shapp_qb_prod" action="/cart/add" method="post" enctype="multipart/form-data">

    <div class="c-add-form__qty">
      <label class="c-add-form__label" for="Quantity">{{ 'products.product.quantity' | t }}</label>

      {%- assign low_price = settings.low_price_product | times: 1  -%}

      {%- if current_variant.price >  low_price -%}
        {%- assign minQty = 1 -%}
        <!--  price : {{ current_variant.price }} > low_price : {{ low_price }} > -->
      {%- else -%}
        {%- assign minQty = settings.low_cost_minimum_qty -%}
        <!--  price : {{ current_variant.price }} < low_price : {{ low_price }} > -->
      {%- endif -%}

      <input class="c-add-form__qty-input" type="number" id="Quantity" name="quantity" value="{{ minQty }}" min="{{ minQty }}">
    </div>
    <div class="c-add-form__price-wrapper">
      <div data-price-wrapper>
        <span class="c-add-form__price" data-product-price>
          {{ current_variant.price | money }}
        </span>

        {% if bold_compare_at_price_max > bold_price %}
          <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
          <span data-compare-price>
            {% if current_variant.compare_at_price > current_variant.price %}
              {{ current_variant.compare_at_price | money }}
            {% endif %}
          </span>
        {% endif %}
      </div>
    </div>

    <div class="c-add-form__variants">
      {% include 'bold-variant' with variant, hide_action: 'skip' %}

      {% include 'add-form-variants' %}
      {% assign varCount = 0 %}
      {% for variant in product.variants %}
        {% unless variant.title contains '+'  %}
        {% assign varCount = varCount | plus : 1 %}
        {% endunless %}
      {% endfor %}
      <!-- varCount {{ varCount }} -->
      <select {% if varCount == 0 %} style="display: none" {% endif %} id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}"  name="id" class="c-add-form__variants no-js" data-product-select>
        {% if  varCount > 0 %}
          {% for variant in product.variants %}
            {% unless variant.title contains '+'  %}
            <option
                {% if variant == current_variant %}selected="selected"{% endif %}
                {% unless variant.available %}disabled="disabled"{% endunless %}
                value="{{ variant.id }}">
              {{ variant.title }}
            </option>
            {% endunless %}
          {% endfor %}
        {% else %}
          {% assign variant = product.variants.first %}
          <option
              {% if variant == current_variant %}selected="selected"{% endif %}
              {% unless variant.available %}disabled="disabled"{% endunless %}
              value="{{ variant.id }}">
            {{ variant.title }}
          </option>
        {% endif %}
      </select>
    </div>

    <div class="c-add-form__description test {% if product.description != '' %} rte {% endif %}">
      {% include 'sales-description'%}
    </div>

    <div class="c-add-form__continue-shopping-helper">
      {% include 'continue-shopping-helper' %}
    </div>

    <div class="c-add-form__submit-wrapper">
      <button class="c-add-form__submit-btn"
              type="submit"
              name="add"
              data-add-to-cart
              {% unless current_variant.available %}disabled="disabled"{% endunless %}>

          <span data-add-to-cart-text >
            {% if current_variant.available %}
              {{ 'products.product.add_to_cart' | t }}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </span>

      </button>
      <div class="c-add-form__reminder-btn" id="ISR_button">In Stock Reminder</div>

    </div>
    <div id="smartwishlist" data-product="{{ product.id }}" data-variant="{{ product.variants.first.id }}"></div>


    {% if customer.tags contains 'platinum' %}
      {% unless qb_loaded == 'true' %}
      <div class="c-add-form__bqb">
        <h3 class="c-add-form__bqb-title"><span class="c-add-form__bqb-title-platinum">Platinum</span> <small>(Bulk Discounts)</small></h3>
        <div class="shappify-qty-msg">
          {{bold_selected_or_first_available_variant.metafields.shappify_qb.pricing_html}}
        </div>
        {% assign qb_loaded = 'true' %}
      </div>
      {% endunless %}
    {% endif %}

  </form>

</div>
