<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
  <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
  <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

  <form action="/cart/add" method="post" enctype="multipart/form-data">
    {% unless product.variants.size == 1 and product.options.size == 1 and product.options.first == 'Title' and product.variants.first.title == 'Default Title' %}
    {% for option in product.options_with_values %}
      <div class="selector-wrapper js">
        <label
            {% if option.name == 'default' %}class="label-hidden"{% endif %}
            for="SingleOptionSelector-{{ forloop.index0 }}">
          {{ option.name }}
        </label>

        <select
            id="SingleOptionSelector-{{ forloop.index0 }}"
            data-single-option-selector
            data-index="option{{ option.position }}">
          {% for value in option.values %}
            <option
                value="{{ value | escape }}"
                {% if option.selected_value == value %}selected="selected"{% endif %}>
              {{ value }}
            </option>
          {% endfor %}
        </select>
      </div>
    {% endfor %}
    {% endunless %}

    <select name="id" class="no-js" data-product-select>
      {% for variant in product.variants %}
        <option
            {% if variant == current_variant %}selected="selected"{% endif %}
            {% unless variant.available %}disabled="disabled"{% endunless %}
            value="{{ variant.id }}">
          {{ variant.title }}
        </option>
      {% endfor %}
    </select>

    <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
    <input type="number" id="Quantity" name="quantity" value="1" min="1">

    <div data-price-wrapper>
        <span data-product-price>
          {{ current_variant.price | money }}
        </span>

      {% if product.compare_at_price_max > product.price %}
        <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
        <s data-compare-price>
          {% if current_variant.compare_at_price > current_variant.price %}
            {{ current_variant.compare_at_price | money }}
          {% endif %}
        </s>
      {% endif %}
    </div>

    <button
        type="submit"
        name="add"
        data-add-to-cart
        {% unless current_variant.available %}disabled="disabled"{% endunless %}>
          <span data-add-to-cart-text>
            {% if current_variant.available %}
              {{ 'products.product.add_to_cart' | t }}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </span>
    </button>
  </form>

</div>