<!-- add form bold_variants_size {{ bold_variants_size }}-->
<!-- add form product.options.size bvs {{ product.options.size }}-->
<!-- add form product.options.first bvs {{ product.options.first }}-->
<!-- add form product.variants.first.title bvs {{ product.variants.first.title }}-->


{% unless bold_variants_size == 1 and product.options.size == 1 and product.options.first == 'Title' and product.variants.first.title == 'Default Title' or product.variants.first.title contains '1+' %}
<!-- add form variants bvs {{ bold_variants_size }}-->

{% for option in product.options_with_values %}
      <div class="selector-wrapper js variant">
        <label
            class="{% if option.name == 'default' %}label-hidden{% endif %} variant__name"
            for="SingleOptionSelector-{{ forloop.index0 }}">
          {{ option.name }}
        </label>

        <select class="variant__input{{ afvClassModifier }}"
            id="SingleOptionSelector-{{ forloop.index0 }}"
            data-single-option-selector
            data-index="option{{ option.position }}">
          {% for value in option.values %}
            <option
                value="{{ value | escape }}"
                {% if option.selected_value == value %}selected="selected"{% endif %}>
              {{ value }}
            </option>
          {% endfor %}
        </select>
      </div>
    {% endfor %}
    {% endunless %}