{% capture "form_classes" -%}
  product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}{% if section.settings.enable_payment_button and product.has_only_default_variant%} product-form--payment-button-no-variants{% endif %}
{%- endcapture %}

            {% form 'product', product, class:form_classes %}
              <input type="hidden" name="productId" value="{{ product.id }}" >
              <input type="hidden" name="productTitle" value="{{ product.title }}" >




              <select name="id" id="ProductSelect-{{ product.id }}" class="c-add-form__select">
                {% for variant in product.variants %}
                  {% if variant.available %}
                    <option
                        {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
                        value="{{ variant.id }}"
                        data-variant-price="{{ variant.price }}"
                    >
                      {{ variant.title }}
                    </option>
                  {% else %}
                    <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                  {% endif %}
                {% endfor %}
              </select>



              <div class="c-add-form__submit product-form__item--bundle product-form__item--submit{% if section.settings.enable_payment_button %} product-form__item--payment-button{% endif %}{% if product.has_only_default_variant %} product-form__item--no-variants{% endif %}">
                <button type="submit" name="add" id="AddToCart-{{ section.id }}"  class="btn product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}">
                <span id="AddToCartText-{{ section.id }}">
                 Add to bundle
                </span>
                </button>
              </div>
            {% endform %}
