{% capture "form_classes" -%}
  product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}{% if section.settings.enable_payment_button and product.has_only_default_variant%} product-form--payment-button-no-variants{% endif %}
{%- endcapture %}

            {% form 'product', product, class:form_classes %}


              <select name="id" id="ProductSelect-{{ product.id }}" class="">
                {% for variant in product.variants %}
                  {% if variant.available %}
                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                      {{ variant.title }}
                    </option>
                  {% else %}
                    <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                  {% endif %}
                {% endfor %}
              </select>


              <div class="sometestac product-form__item product-form__item--submit{% if section.settings.enable_payment_button %} product-form__item--payment-button{% endif %}{% if product.has_only_default_variant %} product-form__item--no-variants{% endif %}">
                <button type="submit" name="add" id="AddToCart-{{ section.id }}"  class="btn product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}">
                <span id="AddToCartText-{{ section.id }}">
                 Add to bundle
                </span>
                </button>
              </div>
            {% endform %}
