<div class="address__postal">
{{ shop.address.company }}<br>
{{ shop.address.street }}<br>
{{ shop.address.city }}<br>
{{ shop.address.zip }}
</div>
<div class="address__contact">
  Tel: {{ shop.address.phone }}<br>
  Fax: 01656 840513 <br>
  Email: <a href="mailto:enquiries@tempestdesigns.co.uk" >enquiries@tempestdesigns.co.uk</a>
</div>
