<div class="address__postal">
  {{ shop.address.street }},    {{ shop.address.city }}, {{ shop.address.zip }}
</div>
<div class="address__contact">
  Tel: {{ shop.address.phone }}<br>
  <!-- Fax: {{ shop.address.phone }} <br> -->
  <!-- Email: <a href="mailto:enquiries@tempestdesigns.co.uk" >enquiries@tempestdesigns.co.uk</a> -->
  <!-- Company Reg Number: 05629192 -->
</div>
