<div class="cart-checkout">
  <div class="cart-checkout__subtotal">
    <div class="cart-checkout__heading">{{ 'cart.general.subtotal' | t }}</div>
    <div class="cart-checkout__subtotal-content">
    <span class="cart-checkout__subtotal-text">{{ cart.total_price | money }}</span>
    {% if cart.total_discounts > 0 %}
      <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
    {% endif %}
    <span class="cart-checkout_shipping-text">{{ 'cart.general.shipping_at_checkout' | t }}</span>
    </div>
  </div>

  {% if settings.cart_notes_enable %}
    <div class="cart-checkout__notes">
      <label class="cart-checkout__notes-label" for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
      <textarea class="cart-checkout__notes-text" name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
    </div>
  {% endif %}

  <div class="cart-checkout__buttons">
    <input type="submit" name="checkout" class="cart-checkout__submit" value="{{ 'cart.general.checkout' | t }}">
  </div>

</div>