{%-  if settings.cart_min_spend -%}
  {%- assign min_spend = settings.cart_min_spend | times: 1  -%}
{%- else -%}
  {% assign min_spend = 0 %}
{%- endif -%}
<div class="cart-checkout">

  <div class="cart-checkout__subtotal">
    <div class="cart-checkout__heading">{{ 'cart.general.subtotal' | t }}</div>

    <div class="cart-checkout__subtotal-content">
      <div class="cart-checkout__buttons">
        {% if cart.total_price >= min_spend %}
          <span class="cart-checkout__subtotal-text">{%- assign geolizr_price = cart.total_price -%}{%- include 'geolizr-currency' with geolizr_price -%}{{ cart.total_price | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}</span>
          {% if cart.total_discounts > 0 %}
            <p>{{ 'cart.general.savings' | t }} {%- assign geolizr_price = cart.total_discounts -%}{%- include 'geolizr-currency' with geolizr_price -%}{{ cart.total_discounts | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}</p>
          {% endif %}
          <input type="submit" name="checkout" class="cart-checkout__submit" value="{{ 'cart.general.checkout' | t }}">
        {% else %}
          <span class="cart-checkout__subtotal-text">{%- assign geolizr_price = cart.total_price -%}{%- include 'geolizr-currency' with geolizr_price -%}{{ cart.total_price | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}</span>
          {% if cart.total_discounts > 0 %}
            <p>{{ 'cart.general.savings' | t }} {%- assign geolizr_price = cart.total_discounts -%}{%- include 'geolizr-currency' with geolizr_price -%}{{ cart.total_discounts | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}</p>
          {% endif %}
          <input type="submit" disabled class="cart-checkout__submit" value="{{ 'cart.general.checkout' | t }}">

          <div class="cart-checkout__notes-min">
            <p>The value of your cart must be at least {%- assign geolizr_price = min_spend -%}{%- include 'geolizr-currency' with geolizr_price -%}{{ min_spend | money | prepend: geolizr_prepend_code | append: geolizr_append_code }} to checkout.<br>
              You need to spend an extra<strong> {%- assign geolizr_price = min_spend  | minus :  cart.total_price -%}{%- include 'geolizr-currency' with geolizr_price -%}{{ min_spend  | minus :  cart.total_price | money | prepend: geolizr_prepend_code | append: geolizr_append_code}}</strong></p>
            <p><a data-continue-path class="cart-checkout__notes-min-link" href="/collections/all">Add more items to continue</a></p>
            <p><span class="cart-checkout_shipping-text">{{ 'cart.general.shipping_at_checkout' | t }}</span></p>
          </div>
        {% endif %}
      </div>


    </div>
  </div>

  {% if settings.cart_notes_enable %}
    <div class="cart-checkout__notes">
      <label class="cart-checkout__notes-label" for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
      <textarea class="cart-checkout__notes-text" name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
    </div>
  {% endif %}



</div>