<div class="collection-thumb is-img-{{ block.settings.collection_image_position }}" {{ block.shopify_attributes }}>
  {%- assign collection = collections[block.settings.collection] -%}

  <a class="collection-thumb__link" href="{% if collection.empty? %}#{% else %}{{ collection.url }}{% endif %}">
    {% if collection.image != blank %}
      <img class="collection-thumb__img" src="{{ collection | img_url: '600x600' }}" >
      {% elsif collection.products.first != blank %}
      <img class="collection-thumb__img" src="{{ collection.products.first | img_url: '600x600' }}" >
      {% elsif collection.empty? %}
      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
      {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
    {% endif %}

    <div class="collection-thumb__heading is-{{ block.settings.collection_title_position }}">
      <h5 class="collection-thumb__title " {% if block.settings.hide_collection_title == true %}style="display:none !important" {% endif %}>
        {% if collection.empty? %}
          {{ 'homepage.onboarding.collection_title' | t }}
        {% elsif block.settings.collection_title == '' %}
          {{ collection.title }}
        {% else %}
          {{ block.settings.collection_title }}
        {% endif %}
      </h5>
      {% if block.settings.collection_button != '' %}
      <div class="collection-thumb__shop-btn">
        <span class="shop-btn--{{ block.settings.collection_button_background_colour }}">
          <span class="shop-btn__text--{{ block.settings.collection_button_text_colour }}">{{ block.settings.collection_button }}</span>
        </span>
      </div>
      {% endif %}
    </div>
  </a>
</div>