
<div class="customer-address">
  {% form 'customer_address', address %}
  <div id="addressCard{{ address.id }}" class="customer-address__address-card" data-state="off">

    {% if address == customer.default_address %}
      <span class="customer-address__default-label" ><strong>{{ 'customer.addresses.default' | t }}</strong></span>
    {% endif %}

      <div class="customer-address__address">
        {{ address | format_address }}
      </div>

      <div class="customer-address__address-edit">
        {% include 'customer-address-form-edit' %}
      </div>

      <div class="customer-address__controls">
        <div class="customer-address__control-wrapper--edit">
        <button  data-state="off" type="button" class="address-edit-toggle customer-address__control" data-form-id="{{ address.id }}">
          {{ 'customer.addresses.edit' | t }}
        </button>
        <button  type="button" class="address-delete customer-address__control" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
          {{ 'customer.addresses.delete' | t }}
        </button>
        </div>
        <div class="customer-address__control-wrapper--submit">
          <input class="customer-address__control" type="submit" class="btn" value="{{ 'customer.addresses.update' | t }}">
          <button  class="customer-address__control address-edit-toggle" type="button" data-form-id="{{ form.id }}">
            {{ 'customer.addresses.cancel' | t }}
          </button>
        </div>
      </div>


  </div>
  {% endform %}
</div>



