<div class=address-edit__form">
  {% form 'customer_address', address %}

  <div class="address-edit__form-control">
  <label for="AddressFirstName_{{ form.id }}" class="new-address-form__form-label">
    {{ 'customer.addresses.first_name' | t }}
  </label>
  <input type="text"
         class="new-address-form__form-input"
         name="address[first_name]"
         id="AddressFirstName_{{ form.id }}"
         value="{{ form.first_name }}"
         autocapitalize="words">
  </div>

  <div class="address-edit__form-control">
  <label for="AddressLastName_{{ form.id }}" class="new-address-form__form-label">
    {{ 'customer.addresses.last_name' | t }}
  </label>
  <input type="text"
         class="new-address-form__form-input"
         name="address[last_name]"
         id="AddressLastName_{{ form.id }}"
         value="{{ form.last_name }}"
         autocapitalize="words">
  </div>

  <div class="address-edit__form-control">
  <label for="AddressCompany_{{ form.id }}" class="new-address-form__form-label">
    {{ 'customer.addresses.company' | t }}
  </label>
  <input type="text"
         class="new-address-form__form-input"
         name="address[company]"
         id="AddressCompany_{{ form.id }}"
         value="{{ form.company }}"
         autocapitalize="words">
  </div>

  <div class="address-edit__form-control">
  <label for="AddressAddress1_{{ form.id }}" class="new-address-form__form-label">
    {{ 'customer.addresses.address1' | t }}
  </label>
  <input type="text"
         class="new-address-form__form-input"
         name="address[address1]"
         id="AddressAddress1_{{ form.id }}"
         value="{{ form.address1 }}"
         autocapitalize="words">
  </div>
  <div class="address-edit__form-control">
  <label for="AddressAddress2_{{ form.id }}" class="new-address-form__form-label">
    {{ 'customer.addresses.address2' | t }}
  </label>
  <input type="text"
         class="new-address-form__form-input"
         name="address[address2]"
         id="AddressAddress2_{{ form.id }}"
         value="{{ form.address2 }}"
         autocapitalize="words">
  </div>

  <div class="address-edit__form-control">
  <label for="AddressCity_{{ form.id }}" class="new-address-form__form-label">
    {{ 'customer.addresses.city' | t }}
  </label>
  <input type="text"
         class="new-address-form__form-input"
         name="address[city]"
         id="AddressCity_{{ form.id }}"
         value="{{ form.city }}"
         autocapitalize="words">
  </div>

  <div class="address-edit__form-control">
  <label for="AddressCountry_{{ form.id }}" class="new-address-form__form-label">
    {{ 'customer.addresses.country' | t }}
  </label>
  <select
      class="new-address-form__form-select"
      name="address[country]"
      id="AddressCountry_{{ form.id }}"
      class="address-country-option"
      data-form-id="{{ form.id }}"
      data-default="{{ form.country }}">
    {{ country_option_tags }}
  </select>
  </div>


  <div id="AddressProvinceContainer_{{ form.id }}" style="display: none">
    <div class="address-edit__form-control">
    <label for="AddressProvince_{{ form.id }}" class="new-address-form__form-label">
      {{ 'customer.addresses.province' | t }}
    </label>
    <select
        name="address[province]"
        id="AddressProvince_{{ form.id }}"
        data-default="{{ form.province }}">
    </select>
    </div>
  </div>

<div class="address-edit__form-control">
  <label for="AddressZip_{{ form.id }}">
    {{ 'customer.addresses.zip' | t }}
  </label>
  <input type="text"
         name="address[zip]"
         id="AddressZip_{{ form.id }}"
         value="{{ form.zip }}"
         autocapitalize="characters">
</div>
    <div class="address-edit__form-control">
  <label for="AddressPhone_{{ form.id }}" class="new-address-form__form-label">
    {{ 'customer.addresses.phone' | t }}
  </label>
  <input type="tel"
         class="new-address-form__form-input"
         name="address[phone]"
         id="AddressPhone_{{ form.id }}"
         value="{{ form.phone }}"
         pattern="[0-9\-]*">
    </div>

    <div class="address-edit__form-control">
  {{ form.set_as_default_checkbox }}
  <label for="address_default_address_{{ form.id }}">
    {{ 'customer.addresses.set_default' | t }}
  </label>
    </div>

  <input type="submit" class="btn" value="{{ 'customer.addresses.update' | t }}">
  <button type="button" class="address-edit-toggle" data-form-id="{{ form.id }}">
    {{ 'customer.addresses.cancel' | t }}
  </button>

  {% endform %}
</div>
