<li class="c-nav-menu__item--{{  navLinkList }}{% if link.active %} is-current{% endif %}">
  <a href="{{ link.url }}" class="c-nav-menu__link--{{  navLinkList }}"><span class="c-nav-menu__link-label--{{  navLinkList }}">{{ link.title }}</span></a>
</li>
