<div class="product-gallery">
  <img class="product-gallery__featured" src="{{ featured_image | img_url: '700x700' }}" alt="{{ featured_image.alt | escape }}" data-product-featured-image>
  {% if product.images.size > 1 %}
    <ul class="product-gallery__list">
      {% for image in product.images %}
        <li class="product-gallery__item">
          <a href="{{ image.src | img_url: '480x480' }}" data-product-single-thumbnail>
            <img src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>