
<div class="product-thumb">
  <a class="product-thumb__link--image" href="{{ product.url | within: collection }}">
    <img class="product-thumb__img" src="{{ product.featured_image | img_url: '600x600' }}" alt="{{ product.title }}" >
    </a>

  <div class="product-thumb__info">
    <a class="product-thumb__link--heading" href="{{ product.url | within: collection }}">
      <h5 class="product-thumb__heading">{{ product.title }}</h5>
    </a>
    {% if customer %}
    {% if product.compare_at_price > product.price %}

      {% if product.price_varies %}
        {%- assign sale_price = product.price | money -%}
        {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
      {% else %}
        {{ 'products.product.on_sale' | t }}
        {{ product.price | money }}
      {% endif %}

    {% else %}

      {% if product.price_varies %}
        {%- assign price = product.price | money -%}
        {{ 'products.product.from_text_html' | t: price: price }}
      {% else %}
        {{ product.price | money }}
      {% endif %}

    {% endif %}

    {% endif %}

  </div>

</div>