
{% assign popup_page = pages[settings.popup_content]%}
  {% assign popup_image =  settings.popup_content_image %}
  {% assign popup_expires = settings.popup_expires %}

<div id="remodalPopupPromo" class="remodal remodal--promo" data-remodal-id="modal"  data-hash-tracking="false" data-expires="{% if popup_expires  %}{{ popup_expires }}{% else %}0{% endif %}">

  <button data-remodal-action="close" class="remodal-close"></button>

  {% if popup_image %}
    <div class="remodal__image">
      <img class="remodal__img" src="{{  popup_image  | img_url: '1000x600', crop: 'center' }}" >
    </div>
  {% endif %}

  {% if popup_page.content != '' %}
    <div class="remodal__content">
      <!-- popup page - {{ popup_page.title }} -->
      {{ popup_page.content }}
    </div>
    {% elsif settings.popup_content_simple != '' %}
    <div class="remodal__content">
      <!-- Popup content simple - update in theme customizer -->
      {{  settings.popup_content_simple }}
    </div>
    {% elsif popup_image == nil %}
    <div class="remodal__content">
      <p>Turn off or add content to this promo popup in the theme customizer</p>
    </div>
  {% endif %}
</div>