<div class="c-reviews">
  <div class="c-reviews__header">
    <div class="c-reviews__logo">
      {% assign icon = 'icm-text-logo' %}
      {% include 'svg-icon'%}

    </div>
  </div>

  <div class="c-reviews__content">
    <ul class="c-reviews__list">
      <li class="c-reviews__item">
        <div class="c-reviews__review">
          <div class="c-review">
            <div class="c-review__score">5/5</div>
            <div class="c-review__stars">
              {% assign icon = 'star' %}
              {% capture icon-star %}{% include "svg-icon" %}{% endcapture %}
              {{ icon-star }} {{ icon-star }} {{ icon-star }} {{ icon-star }} {{ icon-star }}
            </div>
            <blockquote class="c-review__quote">
              <p><strong>She Absolutely Loves it!</strong></p>
              <p>Just a quick note to say a huge "Thank you”. The iClean Mini has totally changed my life! Being a total cleaning/bleach freak I was obviously aware of the impact of using chemicals on our environment, but I just could not stop myself.</p>
              <p>I cannot believe how such a little gadget can work miracles in the home, basically getting rid of almost all cleaning products that take over mountains of cupboard space throughout the house.</p>
              <p>I think every home should have an iClean Mini!</p>
            </blockquote>
            <cite class="c-review__cite">Tracey Powell – Gloucestershire</cite>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
