{% if template.name == 'index' %}
<h1 class="h1 site-logo" itemscope itemtype="http://schema.org/Organization">
  {% else %}
  <div class="h1 site-logo" itemscope itemtype="http://schema.org/Organization">
    {% endif %}
    <a href="/" itemprop="url" class="site-logo__link{% if section.settings.logo != blank %} site-logo__image{% endif %}">
      {% if section.settings.logo != blank %}
        {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
        <img src="{{ section.settings.logo | img_url: image_size }}"
             srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
             alt="{{ section.settings.logo.alt | default: shop.name }}"
             itemprop="logo">
      {% else %}
        <img class="site-logo__img" src="{{ 'tempestdesigns-logo.svg'| asset_url }}" alt="{{ shop.name }}">
      {% endif %}
    </a>
    {% if template.name == 'index' %}
</h1>
{% else %}
  </div>
{% endif %}