{% include 'logic-access' %}
{% include 'logic-customer' %}
<div class="customer-account">
  <div class="customer-account__header">
    <h1 class="customer-account__heading" >{{ 'customer.account.title' | t }}</h1>
  </div>
  <div class="customer-account__info">
    <!-- customerAccess {{ customerAccess }} -->
    {% if customerAccess == 'inactive' %}
      <div class="customer-account__notice">
        <div class="customer-account__notice-header" >
        <h6 class="customer-account__notice-heading" >Account Notice</h6>
        </div>
          <div class="customer-account__notice-content" >
        <p><small>Your account is inactive and currently under review. We will review your account shortly and email you once it has been activated.</small></p>
        </div>
      </div>

        {% endif %}
    <p>Hi {{ customer.first_name | capitalize }}, you are now logged into your <strong>Tempest Designs</strong> customer account.</p>
    <p>This is your account area, here you can find details of your <a href="#orderHistory">order history</a> and your <a href="#accountDetails">account details</a>. Please use the <a href="/account/login#recover" >password reset form</a>, If you need to reset your password</p>
  </div>
  <div class="customer-account__section" >
    <div id="orderHistory"  class="customer-history">
     <div class="customer-history__header">
<h2 class="customer-history__heading" >{{ 'customer.orders.title' | t }}</h2>
     </div>
{% paginate customer.orders by 20 %}
  {% if customer.orders.size != 0 %}
    <div class="customer-history__order-table">
    <table class="responsive-table order-table__table" >
      <thead>
        <tr>
          <th class="order-table__th">{{ 'customer.orders.order_number' | t }}</th>
          <th class="order-table__th">{{ 'customer.orders.date' | t }}</th>
          <th class="order-table__th">{{ 'customer.orders.payment_status' | t }}</th>
          <th class="order-table__th">{{ 'customer.orders.fulfillment_status' | t }}</th>
          <th class="order-table__th">{{ 'customer.orders.total' | t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for order in customer.orders %}
          <tr class="responsive-table-row order-table__row">
            <td class="order-table__data" data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
            <td  class="order-table__data" data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
            <td  class="order-table__data" data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
            <td  class="order-table__data" data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
            <td  class="order-table__data" data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  {% else %}
      <div class="customer-history__order-table--empty">
    <p>{{ 'customer.orders.none' | t }}</p>
      </div>
  {% endif %}

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}

{% endpaginate %}
    </div>
  </div>
  <div id="accountDetails" class="customer-account__section">
    <div class="customer-account-address">
      <div class="customer-account-address__header">
        <h2 class="customer-account-address__heading">{{ 'customer.account.details' | t }}</h2>
      </div>
      <div class="customer-account-address__default-address">
        <div class="customer-account-address__account-details">
        Name: {{ customer.name | capitalize }}<br>
        Email: {{ customer.email }}
        </div>
        {%  if customer.default_address %}
        <div class="default-address">
          <h3 class="default-address__heading" >Default Address</h3>
          {{ customer.default_address | format_address }}
        </div>
        {% endif %}
      </div>
      <div class="customer-account-address__footer">
      <a class="customer-account-address__address-link" href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
      </div>
     </div>
  </div>
</div>
