<div class="customer-login">

  <div class="customer-login__header">
    <h1 class="customer-login__heading">{{ 'customer.activate_account.title' | t }}</h1>
  </div>
  <div class="customer-login__content" style="text-align: center;">
    <p>{{ 'customer.activate_account.subtext' | t }}</p>
  </div>

  <div id="CustomerLoginForm" class="customer-login__form">
{% form 'activate_customer_password' %}
  {{ form.errors | default_errors }}
    <div class="customer-login__form-content">
      <div class="customer-login__form-control">
        <label for="CustomerPassword" class="label-hidden customer-login__label">
          {{ 'customer.activate_account.password' | t }}
        </label>
        <input type="password"
          name="customer[password]"
          class="customer-login__input"
          id="CustomerPassword"
          placeholder="{{ 'customer.activate_account.password' | t }}">
      </div>

      <div class="customer-login__form-control">
    <label for="CustomerPasswordConfirmation" class="label-hidden customer-login__label">
      {{ 'customer.activate_account.password_confirm' | t }}
    </label>
    <input type="password"
      class="customer-login__input"
      name="customer[password_confirmation]"
      id="CustomerPasswordConfirmation"
      placeholder="{{ 'customer.activate_account.password_confirm' | t }}">
      </div>

      <input type="submit" class="btn customer-login__submit" value="{{ 'customer.activate_account.submit' | t }}">
      <div class="customer-login__control-links">
        <input type="submit" class="customer-login__link" name="decline" value="{{ 'customer.activate_account.cancel' | t }}">
      </div>
    </div>
  {% endform %}
  </div>
</div>
