
<div class="customer-login">

  <div class="customer-login__header">
    <h1 class="customer-login__heading">{{ 'customer.login.title' | t }}</h1>
  </div>
  <div class="customer-login__content">
    <p>Access to our site is restricted. If you already have an account please enter your email address and password to sign in. If you would like to register for an account please use our <a href="/account/register" title="{{ 'layout.customer.create_account' | t }}">account registration</a> form.
    </p>
  </div>

<div id="CustomerLoginForm" class="customer-login__form">
  {% form 'customer_login' %}
  {{ form.errors | default_errors }}
  <div class="customer-login__recover-success form-success hide" id="ResetSuccess">
    {{ 'customer.recover_password.success' | t }}
  </div>
  <div class="customer-login__form-content">


    <div class="customer-login__form-control">
    <label for="CustomerEmail" class="label-hidden customer-login__label">
      {{ 'customer.login.email' | t }}
    </label>
    <input type="email"
           name="customer[email]"
           id="CustomerEmail"
           class="{% if form.errors contains 'email' %}input-error{% endif %} customer-login__input"
           placeholder="{{ 'customer.login.email' | t }}"
           spellcheck="false"
           autocomplete="off"
           autocapitalize="off"
           autofocus>
    </div>

    {% if form.password_needed %}
    <div class="customer-login__form-control">
      <label for="CustomerPassword" class="label-hidden customer-login__label">
        {{ 'customer.login.password' | t }}
      </label>
      <input type="password"
             name="customer[password]"
             id="CustomerPassword"
             class="{% if form.errors contains 'password' %}input-error{% endif %} customer-login__input"
             placeholder="{{ 'customer.login.password' | t }}">
    </div>
    {% endif %}

    <input type="submit" class="btn customer-login__submit" value="{{ 'customer.login.sign_in' | t }}">

<div class="customer-login__control-links">
    <a class="customer-login__link" href="/">
      {{ 'customer.login.cancel' | t }}
    </a>

    <a class="customer-login__link" href="/account/register">
      {{ 'layout.customer.create_account' | t }}
    </a>

    {% if form.password_needed %}
      <a class="customer-login__link" href="#recover" id="RecoverPassword">
        {{ 'customer.login.forgot_password' | t }}
      </a>
    {% endif %}
</div>
  </div>
  {% endform %}
</div>


<div id="RecoverPasswordForm" class="customer-login__customer-recover hide">
  <div class="customer-recover">
  <h2 class="customer-recover__heading" >{{ 'customer.recover_password.title' | t }}</h2>
  <div class="customer-recover__info">
  <p>{{ 'customer.recover_password.subtext' | t }}</p>
  </div>

  <div class="customer-recover__form">
  {% form 'recover_customer_password' %}
    {{ form.errors | default_errors }}

    {% if form.posted_successfully? %}
      <span class="hide reset-password-success"></span>
    {% endif %}
<div class="customer-recover__form-content">
    <label for="RecoverEmail" class="label-hidden">
      {{ 'customer.recover_password.email' | t }}
    </label>
    <input type="email"
           name="email"
           id="RecoverEmail"
           placeholder="{{ 'customer.recover_password.email' | t }}"
           spellcheck="false"
           autocomplete="off"
           autocapitalize="off"
           class="{% if form.errors contains 'email' %}input-error{% endif %} customer-recover__input"
    >

    <input type="submit" class="btn customer-recover__submit" value="{{ 'customer.recover_password.submit' | t }}" >
  <div class="customer-recover__control-links">
    <a class="customer-recover__link"  id="HideRecoverPasswordLink">
      {{ 'customer.recover_password.cancel' | t }}
    </a>
  </div>
</div>
  {% endform %}
  </div>
</div>

{% if shop.checkout.guest_login %}
  <h2>{{ 'customer.login.guest_title' | t }}</h2>

  {% form 'guest_login' %}
    <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
  {% endform %}
{% endif %}
</div>
</div>
