<div class="customer-reset">


    <div class="customer-reset__header">
    <h1 class="customer-reset__heading">{{ 'customer.reset_password.title' | t }}</h1>
    </div>
<div class="customer-reset__info">

    <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
</div>
    <div class="customer-reset__form">
      {% form 'reset_customer_password' %}

    {{ form.errors | default_errors }}
<div class="customer-reset__form-content">
    <label for="ResetPassword" class="label-hidden customer-reset__label">
      {{ 'customer.reset_password.password' | t }}
    </label>
    <input type="password"
      name="customer[password]"
      id="ResetPassword"
      class="{% if form.errors contains 'password' %}input-error{% endif %} customer-reset__input"
      placeholder="{{ 'customer.reset_password.password' | t }}"

    >

    <label for="PasswordConfirmation" class="label-hidden customer-reset__label">
      {{ 'customer.reset_password.password_confirm' | t }}
    </label>
    <input type="password"
      name="customer[password_confirmation]"
      id="PasswordConfirmation"
      class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %} customer-reset__input"
      placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

    <input type="submit" class="btn customer-reset__submit" value="{{ 'customer.reset_password.submit' | t }}">
</div>
  {% endform %}
    </div>
</div>
