<div class="page-width" data-section-id="{{ section.id }}" data-section-type="cart-template">

  {% if cart.item_count > 0 %}

    {% assign discCode = 'no Code' %}
    {% assign autoDiscount = false %}
    {% assign discText = '' %}
    {% assign discTextExtra = ''  %}
    {% if cart.item_count == 1 %}
      {% assign discText = '' %}
    {% endif %}
    {% if cart.item_count == 2 %}
      {% assign discText = '' %}
    {% endif %}
    {% if cart.item_count == 3 %}
      {% assign autoDiscount = true %}
      {% assign discCode = '3BIB20' %}
      {% assign discText = 'You have 3 items in your cart. Enter code <span class="c-discount-code" ><strong>3BIB20</strong></span> at checkout to get <strong>20%</strong> off your order' %}
      {% assign discTextExtra = 'or add 1 more product to qualify for a <strong>25%</strong> discount' %}

    {% endif %}
    {% if cart.item_count == 4 %}
      {% assign autoDiscount = true %}
      {% assign discCode = '4BIB25' %}
      {% assign discText = 'You have 4 items in your cart. Enter code <span class="c-discount-code" > <strong>4BIB25</strong></span> at checkout to get <strong>25%</strong> off your order' %}
      {% assign discTextExtra = 'or add 2 more products to qualify for a <strong>30%</strong> discount' %}
    {% endif %}

    {% if cart.item_count == 5 %}
      {% assign autoDiscount = true %}
      {% assign discCode = '4BIB25' %}
      {% assign discTextExtra = 'or add 1 more product to qualify for a <strong>30%</strong> discount' %}
    {% endif %}

    {% if cart.item_count >= 6 %}
      {% assign autoDiscount = true %}
      {% assign discCode = '6BIB30' %}
      {% assign discText = 'You have 6+ items in your cart. Enter code <span class="c-discount-code" > <strong>6BIB30</strong></span> at checkout to get <strong>25%</strong> off your order' %}
    {% endif %}
{% unless discText == '' %}
    <div class="l-bundle-notes">
      <div class="l-bundle-notes__header">
        <h2 class="l-bundle-notes__heading">Bibado Bundle Discounts</h2>
      </div>
      <div class="l-bundle-notes__content">
        <p>{{  discText }} <br>
          {{  discTextExtra }}</p>
      </div>
    </div>
    {% endunless %}

    <!-- discount {{ discCode }} count {{ cart.item_count }}-->
    <div class="section-header text-center">
      <h1>{{ 'cart.general.title' | t }}</h1>
    </div>

    <form action="/cart" method="post" novalidate class="cart">
      <table>
        <thead class="cart__row cart__header">
          <th colspan="2">{{ 'cart.label.product' | t }}</th>
          <th>{{ 'cart.label.price' | t }}</th>
          <th class="text-center">{{ 'cart.label.quantity' | t }}</th>
          <th class="text-right">{{ 'cart.label.total' | t }}</th>
        </thead>
        <tbody>
          {% for item in cart.items %}
            <tr class="cart__row border-bottom line{{ forloop.index }} cart-flex{% if forloop.first %} border-top{% endif %}">
              <td class="cart__image-wrapper cart-flex-item">
                <a href="{{ item.url | within: collections.all }}">
                  <img class="cart__image" src="{{ item | img_url: '95x95', scale: 2 }}" alt="{{ item.title | escape }}">
                </a>
              </td>
              <td class="cart__meta small--text-left cart-flex-item">
                <div class="list-view-item__title">
                  <a href="{{ item.url }}">
                    {{ item.product.title }}
                    {% if item.quantity > 1 %}
                      <span class="medium-up--hide"><span class="visually-hidden">{{ 'cart.label.quantity' | t }}</span>(x{{ item.quantity }})</span>
                    {% endif %}
                  </a>
                </div>
                {% unless item.variant.title contains 'Default' %}
                  <div class="cart__meta-text">
                    {% for option in item.product.options %}
                      {{ option }}: {{ item.variant.options[forloop.index0] }}<br/>
                    {% endfor %}
                  </div>
                {% endunless %}

                {% comment %}
                  Optional, loop through custom product line items if available

                  Line item properties come in as having two parts. The first part will be passed with the default form,
                  but p.last is the actual custom property and may be blank. If it is, don't show it.

                  For more info on line item properties, visit:
                    - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
                {% endcomment %}
                {%- assign property_size = item.properties | size -%}
                {% if property_size > 0 %}
                  <div class="cart__meta-text">
                    {% for p in item.properties %}
                      {% unless p.last == blank %}
                        {{ p.first }}:

                        {% comment %}
                          Check if there was an uploaded file associated
                        {% endcomment %}
                        {% if p.last contains '/uploads/' %}
                          <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                        {% else %}
                          {{ p.last }}
                        {% endif %}
                      {% endunless %}
                    {% endfor %}
                  </div>
                {% endif %}

                <p class="small--hide">
                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="btn btn--small btn--secondary cart__remove">{{ 'cart.general.remove' | t }}</a>
                </p>
              </td>
              <td class="cart__price-wrapper cart-flex-item">
                {%- assign geolizr_price = item.price -%}{%- include 'geolizr-currency' with geolizr_price -%}{{ item.price | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}

                {% for discount in item.discounts %}
                  <div class="cart-item__discount medium-up--hide">{{ discount.title }}</div>
                {% endfor %}

                <div class="cart__edit medium-up--hide">
                  <button type="button" class="btn btn--secondary btn--small js-edit-toggle cart__edit--active" data-target="line{{ forloop.index }}">
                    <span class="cart__edit-text--edit">{{ 'cart.general.edit' | t }}</span>
                    <span class="cart__edit-text--cancel">{{ 'cart.general.cancel' | t }}</span>
                  </button>
                </div>
              </td>
              <td class="cart__update-wrapper cart-flex-item text-right">
                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="btn btn--small btn--secondary cart__remove medium-up--hide">{{ 'cart.general.remove' | t }}</a>
                <div class="cart__qty">
                  <label for="updates_{{ item.key }}" class="cart__qty-label">{{ 'cart.label.quantity' | t }}</label>
                  <input class="cart__qty-input" type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0" pattern="[0-9]*">
                </div>
                <input type="submit" name="update" class="btn btn--small cart__update medium-up--hide" value="{{ 'cart.general.update' | t }}">
              </td>
              <td class="text-right small--hide">
                {% if item.original_line_price != item.line_price %}
                  <div class="cart-item__original-price"><s>{%- assign geolizr_price = item.original_line_price -%}{%- include 'geolizr-currency' with geolizr_price -%}{{ item.original_line_price | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}</s></div>
                {% endif %}

                <div>
                  {%- assign geolizr_price = item.line_price -%}{%- include 'geolizr-currency' with geolizr_price -%}{{ item.line_price | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}
                </div>

                {% for discount in item.discounts %}
                  <div class="cart-item__discount">{{ discount.title }}</div>
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <footer class="cart__footer">
        <div class="grid">
          {% if section.settings.cart_notes_enable %}
            <div class="grid__item medium-up--one-half cart-note">
              <label for="CartSpecialInstructions" class="cart-note__label small--text-center">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" id="CartSpecialInstructions" class="cart-note__input">{{ cart.note }}</textarea>
            </div>
          {% endif %}
          <div class="grid__item text-right small--text-center{% if section.settings.cart_notes_enable %} medium-up--one-half{% endif %}">
            <div>
              <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
              <span class="cart__subtotal"><span id="bk-cart-subtotal-price">{%- assign geolizr_price = cart.total_price -%}{%- include 'geolizr-currency' with geolizr_price -%}{{ cart.total_price | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}</span></span>
            </div>
            {% if cart.total_discounts > 0 %}
              <div class="cart__savings">
                {{ 'cart.general.savings' | t }}
                <span class="cart__savings-amount">{%- assign geolizr_price = cart.total_discounts -%}{%- include 'geolizr-currency' with geolizr_price -%}{{ cart.total_discounts | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}</span>
              </div>
            {% endif %}
            <div class="cart__shipping">{{ 'cart.general.shipping_at_checkout' | t }}</div>
            <a href="collections/all" class="btn btn--secondary cart__update cart__continue--large small--hide" >{{ 'cart.general.continue_shopping' | t }}</a>
            <input type="submit" name="update" class="btn btn--secondary cart__update cart__update--large small--hide" value="{{ 'cart.general.update' | t }}">
            <input type="submit" name="checkout" class="btn btn--small-wide bold-validate-chk" value="{{ 'cart.general.checkout' | t }}" disabled="disabled">
            {% if additional_checkout_buttons %}
            <div class="additional-checkout-buttons">
              <p>or pay with</p>
              {{ content_for_additional_checkout_buttons }}<br>


            <div style="float: left;"><img src="https://cdn.shopify.com/s/files/1/2704/5506/files/Noahs-Ark.jpg?15307468636380988301" /></div>
<p><b>£1 from every order is donated to Noah's Ark Children's Hospital Charity to help them support families who are having a difficult start to their journeys. Thank you for enabling us to support such a fantastic cause!</b></p>




            </div>
            {% endif %}
          </div>
        </div>
      </footer>
    </form>
  {% else %}
    <div class="empty-page-content text-center">
      <h1>{{ 'cart.general.title' | t }}</h1>
      <p class="cart--empty-message">{{ 'cart.general.empty' | t }}</p>
      <div class="cookie-message">
        <p>{{ 'cart.general.cookies_required' | t }}</p>
      </div>
      <a href="/" class="btn btn--has-icon-after cart__continue-btn">{{ 'general.404.link' | t }}{% include 'icon-arrow-right' %}</a>
    </div>
  {% endif %}
</div>

{% if cart.item_count != 0 %}
{% include 'bold-validate-cart' %}
{% endif %}

{% schema %}
  {
    "name": "Cart page",
    "settings": [
      {
        "type": "checkbox",
        "id": "cart_notes_enable",
        "label": "Enable cart notes",
        "default": false
      }
    ]
  }
{% endschema %}
