<div class="l-site__reviews">
  <div class="c-reviews">
    <div class="c-reviews__header">
      <div class="c-reviews__logo">
        {% assign icon = 'icm-text-logo' %}
        {% include 'svg-icon'%}

      </div>
    </div>

    <div class="c-reviews__content">
      <ul class="c-reviews__list">
        <li class="c-reviews__item">
          <div class="c-reviews__review">
            <div class="c-review">
              <div class="c-review__score">5/5</div>
              <div class="c-review__stars">
                {% assign icon = 'star' %}
                {% capture icon-star %}{% include "svg-icon" %}{% endcapture %}
                {{ icon-star }} {{ icon-star }} {{ icon-star }} {{ icon-star }} {{ icon-star }}
              </div>
              <blockquote class="c-review__quote">
                <p>Etiam sapien arcu, luctus quis luctus id, iaculis eu lacus. Etiam diam ante, sagittis at dapibus quis, suscipit vitae sapien.</p>
              </blockquote>
              <cite class="c-review__cite">Louise Blackburn</cite>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<footer class="l-site__footer">
  <div class="c-footer">
    <div class="c-footer__footer-content">

      <div class="c-footer__block">
        <div class="c-footer__logo">
          {% assign icon = 'icm-text-logo' %}
          {% include 'svg-icon'%}
        </div>
      </div>

      <div class="c-footer__block">
        <div class="address">
        {% include "address" %}
        </div>
      </div>



      {% comment %}
      <div class="c-footer__block">
        <div class="social-links">
          <h4 class="social-links__heading">Follow Us</h4>
          <div class="social-links__content">
            {% include "social-links" %}
            {% include "payment-icon-list" %}
          </div>
        </div>
      </div>
      {% endcomment %}

    </div>


    <div class="c-footer__info-links">
      <div class="info-links__content">
        {% include "info-link-list" %}
      </div>
    </div>

    <div class="c-footer__site-info">
      <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}</small><br>
      <!-- <small>{{ shop.address.company }}</small><br> -->
      <small>Website design and development <a href="//ambercouch.co.uk">AmberCouch</a></small>
    </div>

  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
