<div data-section-id="{{ section.id }}" data-section-type="promotion">
<div class="c-hero test-hero-ac">
  <div class="c-hero__carousel">
    {% for block in section.blocks limit: section.blocks.size %}
    <div class="c-hero__cell">
      {% if block.settings.hero_url != '' %}
      <a href="{{ block.settings.hero_url }}" class="c-hero__link">
      <img src="{{ block.settings.hero_image | img_url: '1270x465' }}" alt="" class="c-hero__img">
      </a>
      {% else %}
        <div class="c-hero__slide">
        <img src="{{ block.settings.hero_image | img_url: '1270x465' }}" alt="" class="c-hero__img">
          <div class="c-hero__caption">
          <div class="c-hero__text">
            {{ block.settings.hero_text }}
          </div>
        </div>
        </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <div class="c-hero__cta">
    <div class="c-cta">
      <div class="c-cta__btn-wrapper--2btn-flex">
        <div class="c-cta__btn">
          <a href="/products/icleanmini" class="c-btn--more">
            <span class="c-btn__label">Find Out More</span><span class="c-btn__icon"> > </span>
          </a>
        </div>
        <div class="c-cta__btn">
          <a href="#homepageVideos" class="c-btn--video">
            <span class="c-btn__label">See it in action</span><span class="c-btn__icon"> >   </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% schema %}
  {
    "name": "Hero Slider",
    "settings": [

    ],
    "blocks": [
{
"type": "hero",
"name": "Hero Slide",
"settings": [
{
"label": "Hero Image",
"id": "hero_image",
"type": "image_picker",
"info": "Image size should be 1270px by 465px"
},

  {
  "label": "Hero Text",
  "id": "hero_text",
  "type": "text",
  "info": "Text for the image"
  },

{
"label": "Hero Url",
"id": "hero_url",
"type": "text",
"info": "Link to a url eg. http://google.com"
}
]
}
    ],
    "presets": [
      {
        "name": "Hero Slider",
        "category": "Promotions"
      }
    ]
  }
{% endschema %}
