{% include 'bold-product' with product, hide_action: 'break' %}{% if bold_hidden_product %}{% break %}{%endif %}
<div data-section-id="{{ section.id }}" data-section-type="l-product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

  {%- assign current_variant = bold_selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless current_variant.title == 'Default Title' %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

  <div class="l-product">
    {% comment %}
    <div class="l-product__breadcrumbs">
      {% assign BCClassModifier = "--product"  %}
      {%  include "breadcrumbs" %}
    </div>
    {% endcomment %}

    <div class="l-product__product-gallery">
      {% include 'product-gallery' %}
    </div>

    <div class="l-product__header">
      <h1 class="l-product__heading" >{{ product.title }}</h1>
      <span class="l-product__sku">{{ bold_selected_or_first_available_variant.sku }}</span>
    </div>

    <div class="l-product__product-info">
      <div class="l-product__add-form">
        {% if template == 'product' %}
            {% include 'add-form' %}
          {% elsif template == 'product.voucher'%}
          {% include 'add-form-voucher' %}
        {% endif %}
      </div>

      <div class="l-product__icon-list">
        <div class="c-icon-list--promo">
          <ul class="c-icon-list__list--l">
            <li class="c-icon-list__item--l">
              <span class="c-icon-list__icon--promo">
                {% comment %}
                {% assign icon = "free-delivery" %}
                {% include "svg-icon" %}
                {% endcomment %}
                       <img  src="{{ 'free-delivery.jpg' | asset_url }}"  width="96px">

              </span>
              <span class="c-icon-list__label--promo">Free UK Delivery</span>
            </li>
            <li class="c-icon-list__item--l">
              <span class="c-icon-list__icon--promo">
                {% comment %}
                {% assign icon = "warranty" %}
                {% include "svg-icon" %}
                {% endcomment %}
                <img  src="{{ 'warrenty.jpg' | asset_url }}"  width="96px">
              </span>
              <span class="c-icon-list__label--promo">Full one year warranty</span>
            </li>
            <li class="c-icon-list__item--l">
              <span class="c-icon-list__icon--promo">
                {% comment %}
                {% assign icon = "warranty" %}
                {% include "svg-icon" %}
                {% endcomment %}
                <img  src="{{ 'money-back.jpg' | asset_url }}"  width="96px">
              </span>
              <span class="c-icon-list__label--promo">30 day money back guarantee </span>
            </li>
          </ul>
        </div>
      </div>

      <div class="l-product__share-links">
        {% include 'share-links'%}
      </div>

    </div>
    {% include 'logic-admin' %}
    {% if adminUser %}
      <!-- Admin user -->
      <a style="color: #ddd" href="/admin/products/{{ product.id }}"><small>Edit this product</small></a>
    {% else %}
      <!-- Not Admin -->
    {% endif %}

  </div>
</div>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
