<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}" data-customer='{{ customer.id }}'> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <!-- HEAD CONTENT -->
  {% include 'head' %}
  <!-- TYPEKIT -->
  {%  include 'typekit' %}
  <!-- ADDITIONAL HEAD CONTENT (content_for_header) -->

  {% comment %}
  {{ content_for_header }}
  {% endcomment %}

</head>

{% include 'body-tag' %}
<div id="page" class="site">

  <div class="site__accessibility">
    <a class="accessibility__link in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
  </div>

  {% section 'header' %}

  <main role="main" id="MainContent" class="site__main">
    <div class="main">
      <div class="main__content{% if template != null %}--{{ template | handleize }} {% endif %}">

        {%  include  'logic-access'%}
        {% case access %}
        {% when 'full' %}
        <!-- template {{ template }} -->
        <!-- access {{ access }} -->
        <!-- customerAccess {{ customerAccess }} -->
        {{  content_for_layout }}
        {% when 'SEO' %}
          <!-- template {{ template }} -->
          <!-- access {{ access }} -->
          <!-- customerAccess {{ customerAccess }} -->
          {{  content_for_layout }}
        {% when 'inactive' %}
        <!-- template {{ template }} -->
        <!-- access {{ access }} -->
        <!-- customerAccess {{ customerAccess }} -->
        {% include 'main-content-inactive' %}
        {% when 'restricted' %}
        <!-- template {{ template }} -->
        <!-- access {{ access }} -->
        <!-- customerAccess {{ customerAccess }} -->
          {% include 'main-content-restricted' %}
        {% endcase %}

      </div>
    </div>
  </main>
  {% section 'footer' %}
</div>




<!--BeginCFFPersistentCartCart-->
{% if customer %}
<script>

    window.cffCustomer = {
        name: '{{customer.name}}',
        email: '{{customer.email}}',
        hasAccount: '{{customer.has_account}}',
        id: '{{customer.id}}'
    };


</script>

{% endif %}

<script>
    window.cffPCLiquidPlaced = true
</script>

<!--EndCFFPersistentCartCart-->
<div style='display: none;' id='ait-customer-id'>{{customer.id}}</div>
<script src="//cdn.codeblackbelt.com/js/modules/also-bought/main.min.js?shop=tempestdesigns.myshopify.com"></script>

<!-- LuckyOrange Script -->
<script type='text/javascript'>
window.__lo_site_id = 139417;

	(function() {
		var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
		wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
	  })();
	</script>


{% comment %}
<!-- SOLD OUT OPTIONS -->
{% include 'disable-sold-out' %}
{% endcomment %}

{% include 'adolab-get-clicked-seo' %}

</body>


</html>
