<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}" data-customer='{{ customer.id }}'> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <!-- HEAD CONTENT -->
  {% include 'head' %}
  <!-- TYPEKIT -->
  {%  include 'typekit' %}
  <!-- ADDITIONAL HEAD CONTENT (content_for_header) -->

  {% comment %}
  {{ content_for_header }}
  {% endcomment %}

  {% if template == 'cart' %}
    {% unless customer.tags contains 'platinum' %}
  <script>
      function defer(method) {
          if (window.jQuery) {
              method();
          } else {
              setTimeout(function() { defer(method) }, 50);
          }
      }
      defer(function () {
          var content_for_header = "{{ content_for_header | replace: '/', '\/' | replace: '"', '\"' | replace: 'quantity_breaks.php?shop=tempestdesigns.myshopify.com' : '' | strip_newlines  }}";
          // Output content to the head, and add newlines where required
          $('head').append(content_for_header
              .replace(/}        /g, "}        \n")
              .replace(/\/\/<!\[CDATA\[/g, "//<![CDATA[\n")
              .replace(/\/\/]]>/g, "//]]>\n")
          );
      });
  </script>
    {% else %}
      {{ content_for_header }}
    {% endunless %}
    {% else %}
      {{ content_for_header }}
  {% endif %}


</head>

{% include 'body-tag' %}
<div id="page" class="site">

  <div class="site__accessibility">
    <a class="accessibility__link in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
  </div>

  {% section 'header' %}

  <main role="main" id="MainContent" class="site__main">
    <div class="main">
      <div class="main__content{% if template != null %}--{{ template | handleize }} {% endif %}">

        {%  include  'logic-access'%}
        {% case access %}
        {% when 'full' %}
        <!-- template {{ template }} -->
        <!-- access {{ access }} -->
        <!-- customerAccess {{ customerAccess }} -->
        {{  content_for_layout }}
        {% when 'SEO' %}
          <!-- template {{ template }} -->
          <!-- access {{ access }} -->
          <!-- customerAccess {{ customerAccess }} -->
          {{  content_for_layout }}
        {% when 'inactive' %}
        <!-- template {{ template }} -->
        <!-- access {{ access }} -->
        <!-- customerAccess {{ customerAccess }} -->
        {% include 'main-content-inactive' %}
        {% when 'restricted' %}
        <!-- template {{ template }} -->
        <!-- access {{ access }} -->
        <!-- customerAccess {{ customerAccess }} -->
          {% include 'main-content-restricted' %}
        {% endcase %}

      </div>
    </div>
  </main>
  {% section 'footer' %}
</div>




<!--BeginCFFPersistentCartCart-->
{% if customer %}
  <script>

      window.cffCustomer = {
          name: '{{customer.name}}',
          email: '{{customer.email}}',
          hasAccount: '{{customer.has_account}}',
          id: '{{customer.id}}'
      };


  </script>

{% endif %}

<script>
    window.cffPCLiquidPlaced = true
</script>

<!--EndCFFPersistentCartCart-->
<div style='display: none;' id='ait-customer-id'>{{customer.id}}</div>
<script src="//cdn.codeblackbelt.com/js/modules/also-bought/main.min.js?shop=tempestdesigns.myshopify.com"></script>

{% comment %}
<!-- SOLD OUT OPTIONS -->
{% include 'disable-sold-out' %}
{% endcomment %}

{% include 'adolab-get-clicked-seo' %}

</body>


</html>
