<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <!-- HEAD CONTENT -->
  {% include 'head' %}
  <!-- TYPEKIT -->
  {%  include 'typekit' %}
  <!-- ADDITIONAL HEAD CONTENT (content_for_header) -->
  {{ content_for_header }}
</head>

{% include 'body-tag' %}
<div id="page" class="site">

  <div class="site__accessibility">
    <a class="accessibility__link in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
  </div>

  {% section 'header' %}

  <main role="main" id="MainContent" class="site__main">
    <div class="main">
      <div class="main__content{% if template != null %}--{{ template | handleize }} {% endif %}">

        {%  include  'logic-access'%}
        {% case access %}
        {% when 'full' %}
        {{  content_for_layout }}
        {% when 'inactive' %}
        <!-- template {{ template }} -->
        <!-- access {{ access }} -->
        {% include 'main-content-inactive' %}
        {% when 'restricted' %}
        <!-- template {{ template }} -->
        <!-- access {{ access }} -->
        {% include 'main-content-restricted' %}
        {% endcase %}

      </div>
    </div>
  </main>
  {% section 'footer' %}
</div>




</body>
</html>
