<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}" data-customer='{{ customer.id }}'> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta name="google-site-verification" content="UaODsl__JwdEZHEr3bmLo-OHv1obhmLROt6oPA2kVMc" />
  <!-- HEAD CONTENT Sarah Tempest -->
  {% include 'head' %}
  <!-- TYPEKIT -->
  {%  include 'typekit' %}
  <!-- ADDITIONAL HEAD CONTENT (content_for_header) -->

  {% comment %}
  {{ content_for_header }}
  {% endcomment %}

  {% if template == 'cart' %}
    {% unless customer.tags contains 'platinum' %}
    <script>
        function defer(method) {
            if (window.jQuery) {
                method();
            } else {
                setTimeout(function() { defer(method) }, 50);
            }
        }
        defer(function () {
            var content_for_header = "{{ content_for_header | replace: '/', '\/' | replace: '"', '\"' | replace: 'quantity_breaks.php?shop=tempestdesigns.myshopify.com' : '' | strip_newlines  }}";
            // Output content to the head, and add newlines where required
            $('head').append(content_for_header
                .replace(/}        /g, "}        \n")
                .replace(/\/\/<!\[CDATA\[/g, "//<![CDATA[\n")
                .replace(/\/\/]]>/g, "//]]>\n")
            );
        });
    </script>
  {% else %}
    {{ content_for_header }}
    {% endunless %}
  {% else %}
    {{ content_for_header }}
  {% endif %}


</head>

{% include 'body-tag' %}
<div id="page" class="site remodal-bg">

  <div class="site__accessibility">
    <a class="accessibility__link in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
  </div>

  {% section 'header' %}

  <main role="main" id="MainContent" class="site__main">
    <div class="main">
      <div class="main__content{% if template != null %}--{{ template | handleize }} {% endif %}">

        {{   content_for_layout }}

      </div>
    </div>
  </main>
  {% section 'footer' %}
</div>




<!--BeginCFFPersistentCartCart-->
{% if customer %}
  <script>

      window.cffCustomer = {
          name: '{{customer.name}}',
          email: '{{customer.email}}',
          hasAccount: '{{customer.has_account}}',
          id: '{{customer.id}}'
      };


  </script>

{% endif %}

<script>
    window.cffPCLiquidPlaced = true
</script>

<!--EndCFFPersistentCartCart-->
<div style='display: none;' id='ait-customer-id'>{{customer.id}}</div>

{% if settings.enable_popup == true %}
  {% assign popup_page = pages[settings.popup_content]%}
  {% assign popup_image =  settings.popup_content_image %}
{% assign popup_expires = settings.popup_expires %}

  <div id="remodalPopupPromo" class="remodal remodal--promo" data-remodal-id="modal"  data-hash-tracking="false" data-expires="{% if popup_expires  %}{{ popup_expires }}{% else %}0{% endif %}">

    <button data-remodal-action="close" class="remodal-close"></button>

    {% if popup_image %}
    <div class="remodal__image">
    <img class="remodal__img" src="{{  popup_image  | img_url: '1000x600', crop: 'center' }}" >
    </div>
    {% endif %}

    {% if popup_page.content != '' %}
    <div class="remodal__content">
      <!-- popup page - {{ popup_page.title }} -->
      {{ popup_page.content }}
    </div>
    {% elsif settings.popup_content_simple != '' %}
    <div class="remodal__content">
    <!-- Popup content simple - update in theme customizer -->
      {{  settings.popup_content_simple }}

    {% elsif popup_image == nil %}
    <div class="remodal__content">
      <p>Turn off or add content to this promo popup in the theme customizer</p>
    </div>
    {% endif %}
  </div>

{% endif %}
</body>


</html>
