<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>

  <!-- AmberCouch 20190528  -->
  <meta name="google-site-verification" content="9DQBhASSx2w52hWlsKwLznejgj-xU92D8bDibNGhfi4" />

  <meta name="google-site-verification" content="iTXE7cOkAiA0ucjxS5l99SUD-CRElJ_mNOcCbmnimx8" />

  <style>

    body {
      min-height: 100%;
    }
    body, h1, h2, h3, h4, h5, h6, blockquote, p, pre, dl, dd, ol, ul, figure, hr, fieldset, legend {
      margin: 0;
      padding: 0;
    }
    body, input, textarea, button, select {
      font-size: 18px;
      font-family: "Ubuntu","HelveticaNeue","Helvetica Neue",sans-serif;
      color: #162950;
      line-height: 1.5;
    }
    body, html {
      background-color: #f8f8f8;
    }
    .visually-hidden, .icon__fallback-text {
      position: absolute !important;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
    }
    .search-bar {
      border-bottom: 1px solid #e4e4e4;
      padding: 0 27.5px;
    }
    .drawer--top {
      width: 100%;
    }
    .drawer {
      display: none;
      position: absolute;
      overflow: hidden;
      -webkit-overflow-scrolling: touch;
      z-index: 9;
      background-color: #f8f8f8;
      transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
    }
    @media only screen and (max-width: 749px) {
      .small--hide {
        display: none !important;
      }
    }
    .mobile-nav-wrapper {
      -ms-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      position: absolute;
      top: 0;
      background-color: #f8f8f8;
      transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
      display: none;
      overflow: hidden;
      width: 100%;
    }
    @media only screen and (min-width: 750px) {
      .medium-up--hide {
        display: none !important;
      }
    }
    .announcement-bar--link {
      display: block;
    }
    .announcement-bar {
      text-align: center;
      position: relative;
      z-index: 10;
    }
    .announcement-bar {
      background-color: #f2a7fa;
    }
    p:last-child {
      margin-bottom: 0;
    }
    @media only screen and (min-width: 750px) {
      .site-header.logo--center {
        padding-top: 30px;
      }
    }
    .site-header {
      background-color: #f8f8f8;
      position: relative;
      padding: 0 55px;
    }
    .grid--no-gutters {
      margin-left: 0;
    }
    .grid--table {
      display: table;
      table-layout: fixed;
      width: 100%;
    }
    .grid {
      zoom: 1;
      list-style: none;
      margin: 0;
      padding: 0;
      margin-left: -30px;
    }
    .grid--no-gutters .grid__item {
      padding-left: 0;
    }
    .grid--no-gutters {
      margin-left: 0;
    }
    .grid--table>.grid__item {
      float: none;
      display: table-cell;
      vertical-align: middle;
    }

    .grid__item {
      float: left;
      padding-left: 30px;
      width: 100%;
    }
    .site-header__search {
      padding-right: 45px;
    }
    .site-header__cart, .site-header__search, .site-header__account {
      position: relative;
    }
    .logo-align--center .site-header__logo {
      text-align: center;
      margin: 0 auto;
    }
    .site-header__logo {
      margin: 15px 0;
    }
    h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a, h6 a, .h6 a {
      color: inherit;
      text-decoration: none;
      font-weight: inherit;
    }
    @media only screen and (min-width: 750px) {
      .site-header__logo-image {
        margin: 0 auto;
      }
    }
    .site-header__logo-image {
      display: block;
    }
    .site-header__logo-image {
      max-width: 2000px;
    }
    .site-header__icons {
      position: relative;
      white-space: nowrap;
    }
    .text-right {
      text-align: right !important;
    }
    .btn--link {
      background-color: transparent;
      border: 0;
      margin: 0;
      color: #162950;
      text-align: left;
    }
    @media only screen and (min-width: 750px) {
      .medium-up--hide {
        display: none !important;
      }
    }
    @media only screen and (min-width: 750px) {
      .site-header__cart, .site-header__account {
        position: absolute;
        top: 50%;
        right: 0;
        padding: 8px 0;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
    .btn--link {
      background-color: transparent;
      border: 0;
      margin: 0;
      color: #162950;
      text-align: left;
    }

    @media only screen and (min-width: 750px) {
      .site-header .icon-search, .site-header .icon-hamburger, .site-header .icon-close, .site-header .icon-cart {
        margin-right: 3px;
      }
    }

    .visually-hidden, .icon__fallback-text {
      position: absolute !important;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
    }

    .site-header__menu {
      display: none;
    }
    .site-header .icon-search, .site-header .icon-hamburger, .site-header .icon-close, .site-header .icon-cart {
      height: 30px;
    }
    .btn--link .icon {
      vertical-align: middle;
    }
    .icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      fill: currentColor;
    }
    .border-bottom {
      border-bottom: 1px solid #e4e4e4;
    }
    nav ul.site-nav {
      padding-bottom: 0px !important;
    }

    .site-nav {
      position: relative;
      padding: 0;
      text-align: center;
      margin: 25px 0;
    }
    .list--inline {
      padding: 0;
      margin: 0;
    }
    .site-nav li {
      display: inline-block;
    }
    .list--inline li {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }
    .site-nav--has-dropdown {
      position: relative;
    }
    .site-nav--centered .site-nav__link {
      padding-top: 0;
    }
    .site-nav__link {
      display: block;
      white-space: nowrap;
    }
    a {
      background-color: transparent;
      -webkit-text-decoration-skip: objects;
    }
    a {
      color: #162950;
      text-decoration: none;
    }
    .site-nav__dropdown {
      display: none;
      position: absolute;
      left: 0;
      padding: 11px 17px;
      margin: 0;
      z-index: 7;
      text-align: left;
      border: 1px solid #e4e4e4;
      background: #f8f8f8;
      left: -1px;
      top: 41px;
    }
    .site-nav__link .icon-chevron-down {
      width: 8px;
      height: 8px;
      margin-left: 2px;
    }

    @media only screen and (min-width: 750px) {
      .page-container {
        -ms-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }
    .page-container {
      transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
      position: relative;
      overflow: hidden;
    }
    @media only screen and (min-width: 750px) {
      .main-content {
        padding-top: 55px;
      }
    }
    .main-content {
      display: block;
      padding-top: 35px;
    }
    .template-index .index-section {
      padding-bottom: 25px;
    }
    @media only screen and (min-width: 750px) {
      [class*="index-section--flush"]:first-child {
        margin-top: -55px;
      }
    }
    .index-section--flush:first-child {
      margin-top: -35px;
    }
    .index-section:first-child {
      padding-top: 0;
      border-top: 0;
    }
    @media only screen and (min-width: 750px) {
      .index-section {
        padding-top: 55px;
        padding-bottom: 55px;
      }
    }
    .index-section {
      padding-top: 35px;
      padding-bottom: 35px;
    }
    @media (max-width: 991px) and (min-width: 750px) {
      .custm_hero .banner-mobile {
        background-image: url(//cdn.shopify.com/s/files/1/2704/5506/files/1920-x-500-banner-V3-cropped-food_31e860c2-a175-4e6b-939a-74fd5f5b5a09_1024x1024.png?v=1541153135) !important;
        background-color: #fff;
      }
    }
    input[type="search"], input[type="number"], input[type="email"], input[type="password"] {
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    [type="search"] {
      -webkit-appearance: textfield;
      outline-offset: -2px;
    }
    .search-header__input {
      cursor: pointer;
    }
    .search-header__input, .search-bar__input {
      background-color: transparent;
      border-radius: 2px;
      color: #162950;
      border-color: transparent;
      padding-left: 35px;
      width: 100%;
    }
    @media only screen and (min-width: 750px) {
      input, textarea {
        padding: 10px 18px;
      }
    }
    input, textarea, select {
      border: 1px solid #e4e4e4;
      background-color: #fff;
      color: #162950;
      max-width: 100%;
      line-height: 1.2;
      border-radius: 2px;
    }
    .search-header, .search-header__submit {
      transition: all 0.35s cubic-bezier(0.29, 0.63, 0.44, 1);
    }
    .search-header__submit {
      pointer-events: none;
    }
    .search-bar__submit, .search-header__submit {
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      left: 0;
      top: 0;
      padding: 0 0 0 5px;
      height: 100%;
      z-index: 1;
    }
    .btn--link {
      background-color: transparent;
      border: 0;
      margin: 0;
      color: #162950;
      text-align: left;
    }
    .visually-hidden, .icon__fallback-text {
      position: absolute !important;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
    }
    .search-header {
      display: inline-block;
      position: relative;
      width: 100%;
      max-width: 30px;
      vertical-align: middle;
    }
    @media only screen and (min-width: 750px) {
      .page-container {
        -ms-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }
    .page-container {
      transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
      position: relative;
      overflow: hidden;
    }
    @media only screen and (min-width: 750px) {
      .main-content {
        padding-top: 55px;
      }
    }
    .main-content {
      display: block;
      padding-top: 35px;
    }
    .template-index .index-section {
      padding-bottom: 25px;
    }
    @media only screen and (min-width: 750px) {
      [class*="index-section--flush"]:first-child {
        margin-top: -55px;
      }
    }
    .index-section--flush:first-child {
      margin-top: -35px;
    }
    .index-section:first-child {
      padding-top: 0;
      border-top: 0;
    }
    @media only screen and (min-width: 750px) {
      .index-section {
        padding-top: 55px;
        padding-bottom: 55px;
      }
    }
    .index-section {
      padding-top: 35px;
      padding-bottom: 35px;
    }
    @media only screen and (max-width: 5500px) and (min-width: 1200px) {
      .custm_hero .banner-mobile {
        height: 430px !important;
      }
    }
    @media only screen and (max-width: 5500px) and (min-width: 1200px) {
      .custm_hero .banner-mobile {
        background-image: url(//cdn.shopify.com/s/files/1/2704/5506/files/1920-x-500-banner-V3-cropped-food_31e860c2-a175-4e6b-939a-74fd5f5b5a09_1024x1024.png?v=1541153135) !important;
        background-color: #fff;
      }
    }
    @media only screen and (min-width: 750px) {
      .hero--medium {
        height: 475px;
      }
    }
    .hero--medium {
      height: 357px;
    }
    .hero {
      position: relative;
      height: 475px;
      display: block;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50% !important;
    }
    .ratio-container {
      position: relative;
    }
    .box {
      background: no-repeat;
      background-color: #f7f7f7;
      background-size: contain;
    }
    .hero__overlay::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
    .custm_hero .hero__inner {
      height: 100% !important;
      position: absolute !important;
    }
    .hero__inner {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      padding: 55px 0;
      color: #000;
      z-index: 2;
      height: 1000px;
    }
    .ratio-container>* {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .page-width {
      padding-left: 55px;
      padding-right: 55px;
    }
    .page-width {
      *zoom: 1;
      max-width: 1200px;
      margin: 0 auto;
    }
    .text-right {
      text-align: right !important;
    }
    .custm_hero .hero__inner .mega-subtitle {
      margin-right: 0;
      float: none !important;
    }
    @media only screen and (min-width: 750px) {
      .mega-subtitle {
        font-size: 1.22222em;
        margin: 0 auto;
        max-width: 75%;
        margin-top: 1%;
      }
    }
    .mega-title, .mega-subtitle {
      text-shadow: 0 0 15px rgba(0,0,0,0.1);
      margin-top: 1%;
    }
    .rte-setting {
      margin-bottom: 19.44444px;
    }
    .custm_hero p {
      margin-right: 0 !important;
      float: none;
      margin-left: auto !important;
      margin-top: -60px !important;
      margin-bottom: 60px !important;
      font-size: 32px !important;
      width: 69% !important;
      font-weight: 600;
    }
    .hero__inner p {
      font-size: 50px;
      font-weight: 900;
      float: right;
      margin-right: -400px;
      width: 83%;
      margin-top: -298px;
    }
    .mega-subtitle p {
      color: inherit;
    }
    .custm_hero .shop {
      margin: 0px 10px 0px 0px !important;
      display: inline-block;
      vertical-align: middle;
    }
    .custm_hero .hero__inner a {
      background-color: white;
      letter-spacing: 1.3px;
      font-size: 16px;
      text-transform: capitalize;
      height: auto !important;
      border-width: 4px;
      float: none !important;
      font-weight: 600;
      line-height: 1.4;
      width: 300px;
    }
    .custm_hero .shop a {
      margin-top: 0 !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      margin-bottom: 0px !important;
    }
    .hero__btn {
      background-color: #0000;
      color: black;
      margin-bottom: -350px;
      margin-right: 100px;
      width: 220px;
      height: 100px;
      border-color: #8bc981;
      font-size: 22px;
      text-align: center;
      padding: 25px;
      border-width: 5px;
    }
    @media only screen and (min-width: 750px) {
      .btn {
        padding: 10px 18px;
      }
    }
    .hero__btn {
      background-color: #0000;
      color: black;
      margin-bottom: -350px;
      margin-right: 100px;
      width: 220px;
      height: 100px;
      border-color: #8bc981;
      font-size: 22px;
      text-align: center;
      padding: 25px;
      border-width: 5px;
    }
    @media only screen and (min-width: 750px) {
      .btn {
        padding: 10px 18px;
      }
    }
      .btn {
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        width: auto;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 2px;
        padding: 8px 15px;
        background-color: #8bc981;
        color: #fff;
        font-family: "Ubuntu","HelveticaNeue","Helvetica Neue",sans-serif;
        font-weight: 400;
        text-transform: capitalize;
        letter-spacing: 0.08em;
        white-space: normal;
        font-size: 16px;
      }
    .custm_hero .learn a {
      margin-left: 0 !important;
      margin-right: 0 !important;
      margin-top: 0 !important;
      margin-bottom: 0px !important;
    }
    .template-index .section-header {
      margin-bottom: 15px;
    }
    @media only screen and (min-width: 750px) {
      .section-header {
        margin-bottom: 55px;
      }
    }
    .section-header {
      margin-bottom: 35px;
    }
    .text-center {
      text-align: center !important;
    }
    .index-section h2 {
      display: none;
    }
    @media (min-width: 46.25em) {
      .index-section h2 {
        display: block;
      }
    }
    .slick-dotted.quotes-slider.slick-initialized {
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
    }
    .slick-dotted.slick-slider {
      margin-bottom: 0;
    }
    .slick-dotted.slick-slider {
      margin-bottom: 30px;
    }
    .slick-slider {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -ms-touch-action: pan-y;
      touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
    }
    .slick-slider .slick-track, .slick-slider .slick-list {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .slick-list {
      position: relative;
      overflow: hidden;
      display: block;
      margin: 0;
      padding: 0;
    }
    .slick-track {
      position: relative;
      left: 0;
      top: 0;
      display: block;
    }
    .slick-track:before, .slick-track:after {
      content: "";
      display: table;
    }
    .slick-initialized .slick-slide {
      display: block;
    }
    .slick-slide {
      float: left;
      height: 100%;
      min-height: 1px;
      display: none;
    }
    .quotes-slider__text {
      font-size: 1.09722em;
      font-weight: 400;
      font-style: normal;
      padding: 0 15px;
    }


    .drawer {
      display: none;
      position: absolute;
      overflow: hidden;
      -webkit-overflow-scrolling: touch;
      z-index: 9;
      background-color:
          #f8f8f8;
      transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
    }
    .small--one-half {
      width: 50%;
    }
    @media only screen and (max-width: 749px){
      .site-header {
        border-bottom: 1px solid #e4e4e4;
        padding: 0;
      }
    }
    @media only screen and (max-width: 749px){
      .logo-align--center .site-header__logo {
        text-align: left;
        margin: 15px 0;
      }
    }
    @media only screen and (max-width: 749px) {
      .site-header__logo {
        padding-left: 22px;
      }
    }
    .site-header__logo-image img {
      width: 100%;
    }
    @media only screen and (min-width: 750px) {
      .medium-up--one-third {
        width: 33.33333%;
      }
    }

    .hero__btn {

      width: 218px !important;

    }

  </style>

<!-- Global site tag (gtag.js) - Google AdWords: 800605528 -->

<script async src="https://www.googletagmanager.com/gtag/js?id=AW-800605528"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());



  gtag('config', 'AW-800605528');

</script>



  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}



  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'ac.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'ac.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}
{%- include 'bold-common' -%}
<!--Gem_Page_Header_Script-->
{% include 'gem-app-header-scripts' %}
<!--End_Gem_Page_Header_Script-->


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="//staticxx.s3.amazonaws.com/aio_stats_lib_v1.min.js?v=1.0"></script>

		<!-- Snippet for Upsell System app -->
		{% include 'shopify-upsell-config' %}




{% include 'pagefly-header' %}
</head>

{% include 'ac-body-tag' %}


  <!-- Google Tag Manager  some ac test -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-W8FQR6Z"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>


  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="SearchDrawer" class="search-bar drawer drawer--top">
    <div class="search-bar__table">
      <div class="search-bar__table-cell search-bar__form-wrapper">
        <form class="search search-bar__form" action="/search" method="get" role="search">
          <button class="search-bar__submit search__submit btn--link" type="submit">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
          <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
        </form>
      </div>
      <div class="search-bar__table-cell text-right">
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
        </button>
      </div>
    </div>
  </div>

  {% section 'header' %}

  <div class="page-container" id="PageContainer">

    <main class="main-content" id="MainContent" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

  </div>
<!--Gem_Page_Footer_Script-->
{% include 'gem-app-footer-scripts' %}
<!--End_Gem_Page_Footer_Script-->


<script type="text/javascript">
  $(document).ready(function(){
  $('a[href^="#"]').on('click',function (e) {
    e.preventDefault();
	    var target = this.hash;
	    var $target = $(target);
	    $('html, body').stop().animate({
	        'scrollTop': $target.offset().top
	    }, 900, 'swing', function () {
	        window.location.hash = target;
	    });
  });
  });
  jQuery.ajax( {
  url: '//freegeoip.net/json/',
  type: 'POST',
  dataType: 'jsonp',
  success: function(location) {
    // If the visitor is browsing from Canada.
    if (location.country_code === 'CA') {
      // Redirect him to the Canadian store.
      window.top.location.href = 'https://bibado.ca/';
    }
  }
} );

</script>

<input type="hidden" id="656565115116111114101" data-customer-id="{{ customer.id }}" data-customer-email="{{ customer.email }}" data-customer-name="{{ customer.first_name }} {{ customer.last_name }}"/>
{% comment %}

{% endcomment %}
{% include 'upsellapp-theme' %}<!-- BEEKETINGSCRIPT CODE START -->{% include 'bk-tracking' %}<!-- BEEKETINGSCRIPT CODE END --></body>


{{ "font.css"  | asset_url | stylesheet_tag }}
{{ 'theme.scss.css' | asset_url | stylesheet_tag }}
{{ 'oremCustom.css' | asset_url | stylesheet_tag }}
<!-- AmberCouch Styles -->
{{ 'ac_main.css' | asset_url | stylesheet_tag }}
{% include 'google-fonts' %}

</html>
